{% extends 'base.html' %}
{% block titulo %} Mis tickets {% endblock %}
{% block contenido %}

<div class="card">
  <div class="card-header">
    <a href="{% url 'crearTarea' %}" role="button" class="text-success text-decoration-none fs-5">
      <i class="fa-solid fa-plus"></i> Crear Ticket
    </a>
  </div>
  <div class="card-body">
    <h4 class="card-title">Mis Ticket</h4>

    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>Título</th>
            <th>Fecha de creación</th>
            <th>Descripción</th>
            <th>Encargado</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% if tickets %}
            {% for ticket in tickets %}
              {% if ticket.usuario == user.username %}
                <tr>
                  <td>{{ ticket.title }}</td>
                  <td>{{ ticket.start.year }}/{{ ticket.start.month }}/{{ ticket.start.day }}</td>
                  <td class="descripcion-cell">{{ ticket.description }}</td>
                  <td>{{ ticket.encargado }}</td>
                  <td>{{ ticket.status }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="4" class="text-center text-muted">No tienes tareas pendientes.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}
