{% extends 'base.html' %}
{% block titulo %} Registro {% endblock %}
{% block contenido %}
{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="login-container">
    <div class="login-card">
        <div class="avatar">
            <img src="{% static 'img/logo.png' %}" alt="User Avatar">
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Usuario</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_password1">Contraseña</label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label for="id_password2">Confirmar Contraseña</label>
                {{ form.password2 }}
            </div>
            <button type="submit" class="btn-login">Registrarse</button>
            <div class="extra-options">
                <a href="{% url 'inicioSesion' %}">¿Ya tienes cuenta? Iniciar sesión</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
